<h3>Elenco libri</h3>

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Codice ISBN</th>
        <th scope="col">Titolo</th>
        <th scope="col">Num. pagine</th>
        <th scope="col">Genere</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let libro of libri">
        <th scope="row">{{libro.codiceISBN}}</th>
        <td>{{libro.titolo}}</td>
        <td>{{libro.numeroPagine}}</td>
        <td>{{libro.genere?.nome}}</td>
      </tr>
    </tbody>
  </table>