<h3>Area del rettangolo</h3>
<h3>Base: {{base}} <span (click)="aumentaBase()">+</span> <span (click)="diminuisciBase()">-</span></h3>
<h3>Altezza {{altezza}} <span (click)="aumentaAltezza()">+</span> <span (click)="diminuisciAltezza()">-</span></h3>
<h3>L'area è <strong>{{base * altezza}}</strong></h3>

<hr>
<!--
<h1>Uso di variabili ed espressioni</h1>
<h3>Il valore di testo è {{testo}}</h3>
<h3>Quanto fa 10 * 2? {{ 10 * 2 }}</h3>
<h3>Testo: {{testo}}</h3>
<h3>Testo: {{'testo'}}</h3>
<h3>Testo: {{'...' + testo}}</h3>
<h3>Testo: ...{{testo}}</h3>
<h1>Esempio di funzione</h1>
<h3 (click)="funzione()">Cliccami!</h3>
-->
